<div style="margin:20px">
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" class="form-control" id="username" ng-model="username" placeholder="Enter the username">
  </div>
  <button type="button" class="btn btn-info" ng-click="getUser()">Search</button>
  <br><br><br>
  <table class="table table-user-information" ng-if="selectedPerson != null">
    <tbody>
      <tr>
        <td>Department:</td>
        <td>{{selectedPerson.department}}</td>
      </tr>
      <tr>
        <td>Username:</td>
        <td>{{selectedPerson.username}}</td>
      </tr>
      <tr>
        <td>Name</td>
        <td>{{selectedPerson.name}}</td>
      </tr>
      <tr>
        <td>Surname</td>
        <td>{{selectedPerson.surname}}</td>
      </tr>
      <tr>
        <td>Age</td>
        <td>{{selectedPerson.age}}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{selectedPerson.email}}</td>
      </tr>
        <td>Gender</td>
        <td>{{selectedPerson.gender}}</td>   
      </tr>
    </tbody>
  </table>
  <div class="alert alert-danger" role="alert" ng-if="errorText != null">
      {{errorText}}
  </div>
</div>

